# Archivos de compilación y temporales de Android
*.iml
.gradle/
/local.properties
/.idea/
/build/
/captures/
.externalNativeBuild/
.cxx/
*.log

# Artefactos de salida
*.aab
*.apk
output-metadata.json

# Archivos del sistema
.DS_Store

# Archivos específicos de Android Studio que no deben versionarse
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
